In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

   ## CSV FILE DATA

In [3]:
#Get the data of the table
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## PLAYER COUNT

In [4]:
#Get the length of the dataframe
players= purchase_data["SN"]
total=len(players)
total

780

## PURCHASING ANALYSIS (TOTAL)

In [5]:
#Get the total number of players
s=[]
for i in players:
        if i not in s:
           s.append(i)
total_players= len(s)
total_players
count_df= pd.DataFrame({"Total Players": [total_players]})
count_df

   Total Players
0            576

In [6]:
#Get the number of items
Items= purchase_data["Item ID"].nunique()

In [7]:
#Get the average purchase price
purchase_price= purchase_data["Price"].mean()
purchase_price= round(purchase_price,2)

In [8]:
#Find the number of purchases
purchases= purchase_data["Purchase ID"].nunique()
purchases= (f"${purchases}")

In [9]:
#Find the total revenue
revenue= purchase_data["Price"].sum()
revenue= (f"${revenue}")

In [10]:
#Put it all in a dataframe
Purchasing_Analysis_df= pd.DataFrame({"Number of Unique Items":[Items], "Average Price":[purchase_price], "Number of Purchases":[purchases], "Total Revenue":[revenue]})
Purchasing_Analysis_df

   Number of Unique Items  Average Price Number of Purchases Total Revenue
0                     183           3.05                $780      $2379.77

## GENDER DEMOGRAPHICS

In [11]:
#Get the list of all genders in dataframe
genders= purchase_data["Gender"].unique()
genders

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [12]:
#group the data by Screen name
sorted_gender= purchase_data.groupby("SN").first()
sorted_gender

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Adairialis76,467,16,Male,123,Twilight's Carver,2.28
Adastirin33,142,35,Female,175,Woeful Adamantite Claymore,4.48
Aeda94,388,17,Male,128,"Blazeguard, Reach of Eternity",4.91
Aela59,28,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
Aelaria33,630,23,Male,171,Scalpel,1.79
...,...,...,...,...,...,...
Yathecal82,125,20,Female,62,Piece Maker,1.87
Yathedeu43,93,22,Male,88,"Emberling, Defender of Delusions",3.75
Yoishirrala98,572,17,Female,145,Fiery Glass Crusader,4.58
Zhisrisu83,54,10,Male,25,Hero Cane,4.35
Zontibe81,17,21,Male,161,Devine,1.76

In [13]:
#Get the total count & percent of players
gender_cnt= sorted_gender["Gender"].value_counts()
gender_pct= sorted_gender["Gender"].value_counts(normalize=True)*100
#Put it in a dataframe
Gender_Demographics= pd.DataFrame({"Total Count":gender_cnt, "Percentage of Players": gender_pct })
Gender_Demographics= Gender_Demographics.style.format({"Percentage of Players":"{:.2f}%"})

Gender_Demographics

## PURCHASING ANALYSIS (GENDER)

In [14]:
#Group data and find values
grouped_gender= purchase_data.groupby("Gender")
purchase_cnt= grouped_gender["Gender"].count()

avg_price= grouped_gender["Price"].mean()
total_price= grouped_gender["Price"].sum()
avg_total= total_price/gender_cnt
#Put value in dataframe and format
Purchasing_Analysis= pd.DataFrame({"Purchase Count": purchase_cnt,"Average Purchase Price": avg_price, "Total Purchase Value": total_price,"Avg Total Purchase per Person": avg_total})
Purchasing_Analysis= Purchasing_Analysis.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Total Purchase per Person":"${:.2f}"})
Purchasing_Analysis

## AGE DEMOGRAPHICS

In [15]:
#Find maximum and minimum values
print(purchase_data["Age"].min())
print(purchase_data["Age"].max())

7
45

In [16]:
#Bin the values
bins=[-1, 9, 14, 19, 24, 29, 34, 39, 50]
group_labels= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+" ]
#Put the bin data in the new dataframe
purchase_data[" "]= pd.cut(purchase_data["Age"], bins, labels= group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [17]:
#Group the dataframe
grouped_gender_age= purchase_data.groupby("SN").first()
grouped_age= grouped_gender_age.groupby(" ")
#Find the values of percent and count
age_cnt= grouped_age["Age"].count()
age_pct= grouped_age["Age"].count()/total_players*100
#Put values in a data frame and format
Age_Demographics= pd.DataFrame({"Total Count": age_cnt,"Percentage of Players": age_pct})
Age_Demographics= Age_Demographics.style.format({"Percentage of Players": "{:.2f}%"})
Age_Demographics

## TOP SPENDERS

In [18]:
#Update new dataframe with header
purchase_data["Age Ranges"]= pd.cut(purchase_data["Age"], bins, labels= group_labels)

In [19]:
#Group values and find values
grouped_age_1= purchase_data.groupby("Age Ranges")
purchase_cnt= grouped_age_1["Purchase ID"].count()
avg_purchase= grouped_age_1["Price"].mean()
total_purchase= grouped_age_1["Price"].sum()
avg_price_person= total_purchase/age_cnt
#Put value in dataframe and format
Purchasing_Age= pd.DataFrame({"Purchase Count": purchase_cnt,"Average Purchase Price": avg_purchase, "Total Purchase Value": total_purchase, "Avg Total Purchase per Person":avg_price_person})
Purchasing_Age= Purchasing_Age.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Total Purchase per Person":"${:.2f}"})                                        
Purchasing_Age

In [20]:
#Group and find values
sorted_sn= purchase_data.groupby("SN") 
purchase_count= sorted_sn["Purchase ID"].count()
avg_price=sorted_sn["Price"].mean()
total_purchase=sorted_sn["Price"].sum()
#Put value in dataframe and format
Total_Spenders= pd.DataFrame({"Purchase Count": purchase_count,"Average Purchase Price": avg_price, "Total Purchase Value": total_purchase})
format_Total_Spenders= Total_Spenders.sort_values(["Total Purchase Value"], ascending=False).head(5)
format_Total_Spenders= format_Total_Spenders.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"}) 
format_Total_Spenders

## MOST POPULAR ITEMS

In [21]:
#Group and find values
retrieve_col= purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]
group_col= retrieve_col.groupby(["Item ID", "Item Name"])
purchase_cnt= group_col["Price"].count()
item_price= group_col["Price"].mean()
purchase_value=group_col["Price"].sum()
#Put values in dataframe and format
Most_Popular_Items= pd.DataFrame({"Purchase Count": purchase_cnt,"Item Price":item_price, "Total Purchase Value": purchase_value})
format_Most_Popular_Items= Most_Popular_Items.sort_values(by= "Purchase Count", ascending=False).head(5)
format_Most_Popular_Items= format_Most_Popular_Items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"}) 
format_Most_Popular_Items

## MOST PROFITABLE ITEMS

In [22]:
#Use previous value to format the value with sorting of total purchase value
Most_Profitable_Items= pd.DataFrame({"Purchase Count": purchase_cnt,"Item Price":item_price, "Total Purchase Value": purchase_value})
format_Most_Profitable_Items= Most_Profitable_Items.sort_values(by= "Total Purchase Value", ascending=False).head(5)
format_Most_Profitable_Items= format_Most_Profitable_Items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"}) 
format_Most_Profitable_Items

1. More Males played and spent more money on games. Therefore, marketing to males might seems to garner more profit in the long run
2. The ages group of 20-24 spent the most money and played the most games. Aslos marketing to this age group would prove the most lucrtive. This could be due to the amount of disposable time and income available for this age group.
3. Oathbreaker, Last Hope of the Breaking Storm was the game that made the most money. Makinf more copies of this game or games similar to the genre would prove best for returns.